.card {
    position: relative;
    cursor:pointer;
  
  }
  .card img {
    height: 100%;
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
  }
  
  .card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
    background: #f7ca6a;
  }
  .flipped .front {
    transform: rotateY(0deg);
}

  .card .back {
    background: #2d243a;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    height: 100%;
    width: 100%;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}